
@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap" rel="stylesheet">
</head>
<p class="goal">
        Our goal is to raise 1,000,000 meals for the members of our community
        who face the challenges of hunger and food insecurity. We have no idea how we will achieve this,
        believe its possible. We do know it will take collaboration, effort, humility and lots of love.
        We are blessed to be in the position to consider this challenge. Please join us on this journey.
</p>
<div class="row">
    <div class="col-md">
        <div class="email">
            <label class="connect">Connect with us:</label>
            <input placeholder="email">
            <span class="text-danger"></span>
               
        </div>
        <center><button type="submit" class="btn btn-primary">Submit</button></center>        
   
    </div>
</div>

<h3 class="kine">#StayKine</h3>

